<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fatcloud.account">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 录音时修改手机音量，声音权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!--播音-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 读写内存卡 -->
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!-- 腾讯 tbs -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.fatcloud.account.ui.app.CloudAccountApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_temp4"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_temp4"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:networkSecurityConfig"
        tools:targetApi="n">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.fatcloud.account.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- 阿里云推送 -->
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="31941868" />
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="a4a6d0d5eb8f070679887e4a1128f402" />

        <service android:name="com.zlw.main.recorderlib.recorder.RecordService" />

        <!-- x5 web view 首次冷启动优化  -->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt"/>


        <activity
            android:name="com.fatcloud.account.ui.splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 网页内打开 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="splash_h5"
                    android:scheme="fta_cloud_student" />
            </intent-filter>


        </activity>

        <activity
            android:name="com.fatcloud.account.ui.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />


        <activity
            android:name="com.fatcloud.account.ui.account.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.fatcloud.account.ui.account.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.fatcloud.account.ui.account.register.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.fatcloud.account.ui.account.forget.ForgetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.fatcloud.account.ui.webs.WebCommonActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.fatcloud.account.ui.account.bind.BindPhoneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.fatcloud.account.ui.settings.SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.tests.TestConditionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.course.detail.experience.ExperienceCourseDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.message.MessageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.course.schedule.ClassScheduleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.task.detail.TaskDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.tests.my.MyTestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.course.detail.prepare.NoClassActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.user.UserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.order.list.OrderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.order.detail.OrderDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.tests.question.TestQuestionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.course.my.MyCourseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.tests.score.TestScoreActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.course.detail.experience.result.ReservationResultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.task.reserve.ReserveListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.order.pay.prepare.PayPrepareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.ui.order.pay.result.CloudPayResultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.fatcloud.account.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.fatcloud.student" />

        <activity
            android:name="com.fatcloud.account.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.fatcloud.student" />
        <activity
            android:name="com.fatcloud.account.ui.order.pay.PayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ui.task.lists.TaskContainerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ui.task.progress.BookProgressActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ui.task.result.BookResultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".ui.task.book.BookDetailActivity" />
        <activity android:name=".ui.task.book.lists.BookListActivity" />
        <activity android:name=".common.file.FileDisplayActivity" />


        <receiver
            android:name=".frames.pushs.PushReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>


        </receiver>

    </application>

</manifest>